/*lo stile css di base va bene per gli schermi larghi più di 1280px*/
/* ------------ schermi più larghi (es. iPad) -----------------*/
@media screen and (min-width: 1350px) {
    .home{
        font-size: 2.2vw;
    }
    @keyframes move-down{
        from{top: -5vh; opacity: 0;}
        to{top: 7vh; opacity: 1;}
    }
    .home > p:first-of-type{
        animation: move-down 0.8s linear 0.8s forwards;
    }
    .home > img{
        top: 6vh;
        width: 25vw;
    }
    .home > p:last-of-type{
        bottom: 28%;
    }
    @keyframes move-up{
        from{top: 25vh; opacity: 0;}
        to{top: 10vh; opacity: 1;}
    }
    .home > a:last-of-type{
        display: none;
    }
    .home > a:first-of-type{
        display: inline;
        top: 25vh;
        animation: move-up 1s linear 10s forwards;
    }
    .page{
        height: 250vh;
    }
    /* ------- first section -------- */
    .row{
        padding-top: 5vh;
        height: 90vh;
    }
    /* ------- first section, timeline -------- */
    /* ------- first section, skills -------- */
    /* ------- second section -------- */
    .about-container{
        height: 65vh;
    }
    /* ------- footer -------- */
    .social-box{
        margin: 5% auto 0 auto;
    }
}
@media screen and (min-width: 901px) and (max-width: 1279px) and (orientation: landscape) { /* tablet in orizzontale */
    body{
        font-size: 1.28vw;
    }
    /* ------- home page -------- */
    #navbarNav{
        display: flex;
        flex-direction: row;
    }
    .home{
        font-size: 2.2vw;
    }
    @keyframes move-down{
        from{top: 0vh; opacity: 0;}
        to{top: 10vh; opacity: 1;}
    }
    .home > p:first-of-type{
        animation: move-down 0.8s linear 0.8s forwards;
    }
    .home > img{
        top: 10vh;
        width: 25vw;
    }
    @keyframes move-up{
        from{top: 25vh; opacity: 0;}
        to{top: 15vh; opacity: 1;}
    }
    .home > a:last-of-type{
        display: none;
    }
    .home > a:first-of-type{
        display: inline;
        top: 25vh;
        animation: move-up 1s linear 10s forwards;
    }
    /* ------- first section -------- */
    /* ------- first section, timeline -------- */
    /* ------- first section, skills -------- */
    /* ------- second section -------- */
    /* ------- footer -------- */
    .social-box > a{
        font-size: 4vw;
        margin-right: 10vw;
    }
    .social-box > a:first-of-type{
        margin-left: 10vw;
    }
}
 /* ------------------------------ tablet in verticale -----------------------------------*/
@media screen and (min-width: 551px) and (max-width: 1200px) and (orientation: portrait) {
    .nav-custom{
        height: 6.7vh;
    }
    .navbar-brand{
        font-size: 3.5vw;
        font-style: italic;
        font-weight: 500;
    }
    @keyframes fadeIn{
        0%{
            top: 100vh;
            opacity: 0;
        }
        100%{
            top: 6.8vh;
            opacity: 1;
        }
    }
    @keyframes fadeOut{
        0%{
            top: 6.8vh;
            opacity: 1;
        }
        100%{
            top: 100vh;
            opacity: 0;
        }
    }
    #navbarNav{
        position: fixed;
        top: 100vh;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .fade-in{
        animation: fadeIn 0.5s linear forwards;
    }
    .fade-out{
        animation: fadeOut 0.8s linear forwards;
    }
    #navbarNav > :nth-child(2){
        display: none;
    }
    #navbarNav > :nth-child(3), #navbarNav > :nth-child(4){
        display: block;
    }
    .nav-link{
        position: relative;
        margin-left: 0;
        top: 15vh;
        padding: 4.5vh;
        font-size: 3vw;
        border-top: 1px solid black;
        background-image: linear-gradient(to bottom, #6ac447 0% 5%, #3da83d 50% 60%, #6ac447 105%);
    }
    .nav-link:first-of-type{
        border: none;
        background-image: linear-gradient(to bottom, #75b132 0% 2%, #3da83d 50% 60%, #6ac447 105%);
    }
    .nav-link:last-of-type{
        background-image: linear-gradient(to bottom, #6ac447 0%, #3da83d 50% 60%, #75b132 100%);
    }
    .menu{
        display: none;
        font-size: 5vw;
    }
    .menu:nth-of-type(1){
        display: block;
    }
    .page{
        height: 350vh;
    }
    /* ------- home page -------- */
    .home{
        font-weight: 300;
        font-size: 3.8vw;
        min-height: 90vh;
        max-height: 90vh;
        margin: 0;
    }
    @keyframes move-down{
        from{top: -5vh; opacity: 0;}
        to{top: 10vh; opacity: 1;}
    }
    .home > p:first-of-type{
        position: absolute;
        top: -10vh;
        opacity: 0;
        animation: move-down 1s linear 0.8s forwards;   
    }
    .home > p:nth-of-type(2){
        position: relative;
        top: -5vh;
        left: 0;
    }
    .home > img{
        top: 0vh;
        width: 55vw;
    }
    @keyframes move-down-2{
        from{bottom: 35vh; opacity: 0;}
        to{bottom: 13vh; opacity: 1;}
    }
    .home > p:last-of-type{
        position: absolute;
        left: auto;
        opacity: 0;
        animation: move-down-2 1.2s linear 6s forwards;
    }
    .home > p:last-of-type > span{
         animation: flick 1s linear 7.5s forwards;
    }
    @keyframes move-up{
        from{bottom: 2vh; opacity: 0;}
        to{bottom: 5vh; opacity: 1;}
    }
    .home > a:first-of-type{
        display: none;
    }
    .home > a:last-of-type{
        display: block;
        opacity: 0;
        bottom: 2vh;
    }
    .home > a{
        position: absolute;
        bottom: -20vh;
        animation: move-up 1.2s linear 9s forwards;
    }
    /* ------- first section -------- */
     .work-container > .h2{
        display: none;
    }
    .row{
        height: 165vh;
        margin: 0;
    }
    .col-a, .col-b{
        padding-top: 6vh;
        min-width: 100%;
        max-width: 100%;
    }
    .col-a{
        top: 0;
        height: 75vh;
    }
    .col-b{
        bottom: 0;
        height: 90vh;
        left: 0;
    }
    .divides{
        display:none;
    }
    /* ------- first section, timeline -------- */
    .timeline-container{
        top: 17vh;
        height: 65vh;
    }
    .timeline-bar{
        top: 50vh;
        left: 13vw;
        width: 75%;
        height: 20px;
    }
    .bar-circle{
        width: 40px;
        height: 40px;
        border: 5.5px solid darkgreen;
    }
    .timeline-content{
        top: 0%;
        height: 65%;
    }
    .timeline-text{
        top: 5%;
        left: 10vw;
        width: 80vw;
        height: 95%;
        font-size: 2.9vw;
    }
    .timeline-text > h6{
        font-size: 3.5vw;
    }
    .timeline-text:nth-of-type(2){
        top: 3%;
        left: 10vw;
    }
    .timeline-text:nth-of-type(3){
        top: 3%;
        left: 10vw;
    }
    .timeline-text > .material-icons{
        font-size: 15vw;
    }
    .timeline-text > img{
        width: 11vw;
    }
    .text-shower{
        top: -5%;
        height: 100%;
        width: 90vw;
    }
    /* ------- first section, second part -------- */
    .skill-carousel{
        top: 5vh;
        left: 20%;
        height: 27vh;
        width: 45vw;
    }
    .skill-carousel > p{
        top: 42%;
        font-size: 5vw;
    }
    .skillbar-container{
        top: 5vh;
        left: 75%;
        width: 5vw;
        height: 27vh;
    }
    .skill-p{
        top: 55%;
        width: 80%;
        padding: 0 10px 0 0px;
        font-size: 3.6vw;
    }
    /* ------- second section -------- */
    .about-container{
        height: 90vh;
    }
    .about-container article{
        left: 0;
        top: 4vh;
        height: fit-content;
    }
    .about-container article > img{
        display: none;
    }
    .about-container article > div{
        width: 80%;
        left: 10vw;
        padding-bottom: 5%;
        font-size: 3.6vw;
    }
    /* ------- footer -------- */
    .footer{
        min-height: 20vh;
    }
    .social-box{
        margin: 7% auto 0 auto;
    }
    .social-box > a{
        font-size: 5vw;
        margin-right: 10vw;
    }
    .social-box > a:first-of-type{
        margin-left: 10vw;
    }
}
/* ----------------------------- smartphone orizzontale -----------------------------------*/
@media screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
    /* ------- navbar -------- */
    .nav-custom{
        height: 12vh;
    }
    .navbar-brand{
        margin-right: 20px;
        font-size: 2.2vw;
        font-style: italic;
        font-weight: 500;
    }
    @keyframes fadeIn{
        0%{
            top: 100vh;
            opacity: 0;
        }
        100%{
            top: 11.5vh;
            opacity: 1;
        }
    }
    @keyframes fadeOut{
        0%{
            top: 11.5vh;
            opacity: 1;
        }
        100%{
            top: 100vh;
            opacity: 0;
        }
    }
    #navbarNav{
        position: fixed;
        top: 100vh;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .fade-in{
        animation: fadeIn 0.5s linear forwards;
    }
    .fade-out{
        animation: fadeOut 0.8s linear forwards;
    }
    #navbarNav > :nth-child(2){
        display: none;
    }
    #navbarNav > :nth-child(3), #navbarNav > :nth-child(4){
        display: block;
    }
    .nav-link{
        position: relative;
        margin-left: 0;
        top: 4vh;
        padding: 4.5vh;
        font-size: 2vw;
        border-top: 1px solid black;
        background-image: linear-gradient(to bottom, #6ac447 0% 5%, #3da83d 50% 60%, #6ac447 105%);
    }
    .nav-link:first-of-type{
        border: none;
        background-image: linear-gradient(to bottom, #75b132 0% 2%, #3da83d 50% 60%, #6ac447 105%);
    }
    .nav-link:last-of-type{
        background-image: linear-gradient(to bottom, #6ac447 0%, #3da83d 50% 60%, #75b132 100%);
    }
    .menu{
        display: none;
    }
    .menu:nth-of-type(1){
        display: block;
    }
    .page{
        height: 430vh;
    }
    /* ------- home page -------- */
    .home{
        font-weight: 300;
        height: 90vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        font-size: 2.2vw;
    }
    @keyframes move-down{
        from{top: -15vh; opacity: 0;}
        to{top: -5vh; opacity: 1;}
    }
    .home > p:first-of-type{
        top: -15vh;
        opacity: 0;
        animation: move-down 1s linear 0.8s forwards;   
    }
    .home > p:nth-of-type(2){
        top: 37vh;
    }
    .home > img{
        top: -8vh;
        width: 23%;
    }
    .home > p:last-of-type{
        bottom: 38%;
        left: 30%;
    }
    .home > p:last-of-type > span{
        opacity: 0;
        animation: flick 1s linear 7.5s forwards;
    }
    @keyframes move-up{
        from{top: 90%; opacity: 0;}
        to{top: 77%; opacity: 1;}
    }
    .home > a:first-of-type{
        display: none;
    }
    .home > a:last-of-type{
        position: absolute;
        display: inline;
        top: 90%;
        opacity: 0;
        animation: move-up 1s linear 10s forwards;
    }
    /* ------- first section -------- */
    .work-container > h2{
        display: none;
    }
    .h2, .h3{
        padding-top: 15vh;
    }
    .row{
        height: 220vh;
        margin: 0;
    }
    .col-a, .col-b{
        min-width: 100%;
        max-width: 100%;
    }
    .col-a{
        top: 0;
        height: 120vh;
    }
    .col-b{
        bottom: 0;
        height: 95vh;
        left: 0;
    }
    .divides{
        display:none;
    }
    /* ------- first section, timeline -------- */
    .timeline-container{
        top: 30vh;
        height: 90vh;
    }
    .timeline-bar{
        top: 75vh;
        left: 14vw;
    }
    .timeline-content{
        top: -5%;
        height: 70%;
    }
    .timeline-text{
        top: 0;
        left: 5vw;
        width: 45vw;
        height: 90%;
        font-size: 2vw;
    }
    .timeline-text:nth-of-type(2){
        top: 0;
        left: 23vw;
    }
    .timeline-text:nth-of-type(3){
        top: 0;
        left: 46vw;
    }
    .timeline-text > .material-icons{
        font-size: 8vw;
    }
    .timeline-text > img{
        width: 7vw;
    }
    .text-shower{
        top: -2%;
        height: 105%;
        width: 50vw;
    }
    /* ------- first section, skills -------- */
    .skill-carousel{
        top: 10vh;
        left: 5%;
        height: 45vh;
        width: 25vw;
    }
    .skillbar-container{
        top: 10vh;
        left: 35%;
        width: 2.5vw;
        height: 45vh;
    }
    .skill-p{
        top: 35vh;
        left: 45%;
        width: 50%;
        padding: 0 10px 0 0px;
        font-size: 2vw;
    }
    /* ----- second section ------ */
    .about-container{
        height: 110vh;
    }
    .about-container article{
        left: 0;
        top: 0vh;
        height: fit-content;
    }
    .about-container article > img{
        left: 0;
        top: 30%;
        width: 25vw;
    }
    .about-container article > div{
        width: 70%;
        left: 25vw;
        padding-bottom: 5vh;
        font-size: 2vw;
    }
    /* ------- footer -------- */
    .footer{
        min-height: 40vh;
    }
    .social-box{
        margin: 5% auto 0 auto;
    }
    .social-box > a{
        font-size: 3.5vw;
        margin-right: 10vw;
    }
    .social-box > a:first-of-type{
        margin-left: 10vw;
    }
}
/* ----------------------- Smartphone in verticale ------------------------*/
@media screen and (max-width: 550px) and (orientation: portrait) {
    /* ------- navbar -------- */
    .nav-custom{
        height: 7vh;
    }
    .navbar-brand{
        margin-right: 20px;
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
    }
    @keyframes fadeIn{
        0%{
            top: 100vh;
            opacity: 0;
        }
        100%{
            top: 7.2vh;
            opacity: 1;
        }
    }
    @keyframes fadeOut{
        0%{
            top: 7.2vh;
            opacity: 1;
        }
        100%{
            top: 100vh;
            opacity: 0;
        }
    }
    #navbarNav{
        position: fixed;
        top: 100vh;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .fade-in{
        animation: fadeIn 0.5s linear forwards;
    }
    .fade-out{
        animation: fadeOut 0.8s linear forwards;
    }
    #navbarNav > :nth-child(2){
        display: none;
    }
    #navbarNav > :nth-child(3), #navbarNav > :nth-child(4){
        display: block;
    }
    .nav-link{
        position: relative;
        margin-left: 0;
        top: 14vh;
        padding: 4vh;
        font-size: 16px;
        border-top: 1px solid black;
        background-image: linear-gradient(to bottom, #6ac447 0% 5%, #3da83d 50% 60%, #6ac447 105%);
    }
    .nav-link:first-of-type{
        border: none;
        background-image: linear-gradient(to bottom, #75b132 0% 2%, #3da83d 50% 60%, #6ac447 105%);
    }
    .nav-link:last-of-type{
        background-image: linear-gradient(to bottom, #6ac447 0%, #3da83d 50% 60%, #75b132 100%);
    }
    .menu:nth-of-type(1){
        display: block;
    }
    .page{
        padding-bottom: 10%;
        height: 375vh;
    }
    /* ------ home page ------ */
    .home{
        font-weight: 300;
        font-size: 18px;
        min-height: 90vh;
        max-height: 90vh;
        align-items: center;
        margin: 0;
    }
    @keyframes move-down{
        from{top: -10vh; opacity: 0;}
        to{top: 7vh; opacity: 1;}
    }
    .home > p:first-of-type{
        position: absolute;
        top: -10vh;
        opacity: 0;
        animation: move-down 1s linear 0.8s forwards;   
    }
    .home > p:nth-of-type(2){
        position: relative;
        top: -10vh;
        left: 0;
    }
    .home > img{
        top: -7vh;
        width: 65vw;
    }
    @keyframes move-down-2{
        from{bottom: 35vh; opacity: 0;}
        to{bottom: 19vh; opacity: 1;}
    }
    .home > p:last-of-type{
        position: absolute;
        left: auto;
        opacity: 0;
        animation: move-down-2 1.2s linear 6s forwards;
    }
    .home > p:last-of-type > span{
         animation: flick 1s linear 7.5s forwards;
    }
    @keyframes move-up{
        from{bottom: -20vh; opacity: 0;}
        to{bottom: 10vh; opacity: 1;}
    }
    .home > a:first-of-type{
        display: none;
    }
    .home > a:last-of-type{
        display: block;
    }
    .home > a{
        position: absolute;
        opacity: 0;
        bottom: -20vh;
        animation: move-up 1.2s linear 9s forwards;
    }
    /* ------- first section -------- */
    .work-container > .h2{
        display: none;
    }
    .row{
        height: 180vh;
    }
    .col-a, .col-b{
        padding-top: 7.5vh;
        min-width: 100%;
        max-width: 100%;
    }
    .col-a{
        top: 0;
        height: 90vh;
    }
    .col-b{
        bottom: 0;
        height: 90vh;
        left: 0;
    }
    .divides{
        display:none;
    }
    /* ------- first section, timeline -------- */
    .timeline-container{
        top: 20vh;
        height: 80vh;
    }
    .timeline-bar{
        top: 60vh;
        left: 15vw;
        height: 17.5px;
    }
    .bar-circle{
        width: 35px;
        height: 35px;
        border: 5.5px solid darkgreen;
    }
    .timeline-content{
        top: 0%;
        height: 65%;
    }
    .timeline-text{
        top: 5%;
        left: 11vw;
        width: 80vw;
        height: 95%;
        font-size: 4.4vw;
    }
    .timeline-text > h6{
        font-size: 4.7vw;
    }
    .timeline-text:nth-of-type(2){
        top: 5%;
        left: 11vw;
    }
    .timeline-text:nth-of-type(3){
        top: 5%;
        left: 11vw;
    }
    .timeline-text > .material-icons{
        font-size: 20vw;
    }
    .timeline-text > img{
        width: 15vw;
    }
    .text-shower{
        top: -2%;
        height: 100%;
        width: 90vw;
    }
    /* ------- first section, second part -------- */
    .skill-carousel{
        top: 5vh;
        left: 20%;
        height: 24vh;
        width: 50vw;
    }
    .skillbar-container{
        top: 5vh;
        left: 80%;
        width: 5vw;
        height: 24vh;
    }
    .skill-p{
        top: 55%;
        width: 80%;
        padding: 0 10px 0 0px;
        font-size: 4.2vw;
    }
    /* ------- second section -------- */
    .about-container{
        height: 80vh;
    }
    .about-container article{
        left: 0;
        top: 4vh;
        height: fit-content;
    }
    .about-container article > img{
        display: none;
    }
    .about-container article > div{
        width: 90%;
        left: 5vw;
        padding-bottom: 5%;
        font-size: 4.2vw;
    }
    /* ------- footer -------- */
    .footer{
        min-height: 25vh;
    }
    .social-box{
        margin: 10% auto 0 auto;
    }
    .social-box > a{
        font-size: 8vw;
        margin-right: 10vw;
    }
    .social-box > a:first-of-type{
        margin-left: 10vw;
    }
}