.flex, .flex-column, .flex-align-center, .flex-full-center, nav ul li, .flex-justify-center, .home a, .links a, body, nav ul, .menu-icons, .page, .home, .work-container, .work-container .row, .work-container .row .column, .toolbox .skills-container, .toolbox .skills-grid, .projects, .project-infos, footer, .flex-row, .flex-row-align-center, .skills-row, .toolbox .skills-grid > div, .toolbox .current-skills > div, nav, .links, article .links, .socials, nav .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column, .flex-align-center, .flex-full-center, nav ul li, .flex-justify-center, .home a, .links a, body, nav ul, .menu-icons, .page, .home, .work-container, .work-container .row, .work-container .row .column, .toolbox .skills-container, .toolbox .skills-grid, .projects, .project-infos, footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row, .flex-row-align-center, .skills-row, .toolbox .skills-grid > div, .toolbox .current-skills > div, nav, .links, article .links, .socials {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-row-align-center, .skills-row, .toolbox .skills-grid > div, .toolbox .current-skills > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-align-center, .flex-full-center, nav ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-justify-center, .home a, .links a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-full-center, nav ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.relative, body, .page, .page section, footer {
  position: relative; }

.absolute, nav .mobile-menu {
  position: absolute; }

.hidden, nav .mobile-menu, .menu-icons .menu-icon:last-of-type, .divides {
  display: none; }

.skills-row, .toolbox .skills-grid > div, .toolbox .current-skills > div {
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .skills-row img, .toolbox .skills-grid > div img, .toolbox .current-skills > div img {
    height: 55px; }
  .skills-row figcaption, .toolbox .skills-grid > div figcaption, .toolbox .current-skills > div figcaption {
    text-align: center;
    font-size: 13px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  width: 100vw;
  background-color: #7ed957;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  color: white; }

nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 15px;
  background-color: #008037; }
  nav .brand {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    color: white; }
  nav .mobile-menu {
    left: 0;
    top: 50px;
    width: 100vw;
    height: 95vh;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: lightgreen;
    z-index: 2; }
  nav ul {
    width: 70%;
    height: 60%;
    margin: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none; }
    nav ul li {
      height: 15%; }
      nav ul li a {
        text-decoration: none;
        color: black; }
      nav ul li:nth-of-type(2) {
        display: none; }
      nav ul li:last-of-type {
        height: 15%;
        border-radius: 100px;
        background-color: darkgreen;
        text-transform: uppercase; }

.menu-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu-icons img {
    width: 20px;
    -webkit-filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(0%) hue-rotate(319deg) brightness(104%) contrast(100%);
            filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(0%) hue-rotate(319deg) brightness(104%) contrast(100%); }

.page {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto; }
  .page section {
    margin-bottom: 50px; }

.home {
  top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 95vh;
  text-align: center; }
  .home img {
    width: 275px;
    margin: auto;
    opacity: 0.4;
    border-radius: 150px; }
  .home .text {
    font-style: italic; }
    .home .text p, .home .text h1 {
      margin-bottom: 25px; }
    .home .text h1 {
      font-weight: 600; }
  .home a {
    width: 200px;
    margin: auto;
    height: 40px;
    background-color: darkgreen;
    border-radius: 100px;
    text-decoration: none;
    color: white; }

.work-container .row .column {
  text-align: center;
  margin-bottom: 30px; }

.work-container h2 {
  font-weight: 600;
  margin-bottom: 40px; }

.toolbox {
  height: 95vh; }
  .toolbox .skills-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 500px; }
  .toolbox .skills-grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60%; }
  .toolbox .current-skills h4 {
    font-weight: 600;
    margin-bottom: 20px; }
  .toolbox .current-skills img {
    height: 65px; }

.projects {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 700px; }

.slider {
  width: 260px;
  margin: auto;
  height: 40%;
  background-color: darkgreen; }

.project-infos {
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .project-infos h4 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .project-infos p {
    padding: 0 20px 50px 20px; }

.links {
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .links a {
    background-color: darkgreen;
    height: 40px;
    width: 100px;
    border-radius: 100px;
    color: white;
    text-decoration: none; }

.about-container h2 {
  text-align: center;
  margin-bottom: 15px; }

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  article img {
    display: block;
    width: 220px;
    margin: auto; }
  article p {
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    margin-bottom: 30px;
    line-height: 25px; }
    article p a {
      color: white;
      text-decoration: underline; }
  article .links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    article .links a:first-of-type {
      width: 85px; }
    article .links a:last-of-type {
      width: 160px; }

footer {
  height: 150px;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }
  footer h2 {
    margin-bottom: 50px; }

.socials {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  bottom: 30%;
  width: 80%;
  margin: 0 auto; }
  .socials a img {
    height: 35px; }
